/* Frame Logo */
#logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3px;
  column-gap: 7px;
}
.logoSVG {
  position: relative;
}
.logoSVG:hover .trckT {
  height: 17%;
}
.logoSVG:hover .trackB {
  height: 30px;
}
.trackB,
.trckT,
.overLY {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}

.len {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  top: 10px;
  right: 16px;
}
.trckT {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.479)),
    to(rgba(0, 0, 0, 0)),
    color-stop(1, #ffffffbb)
  );
  box-sizing: border-box;
}
.trackB {
  bottom: 4px;
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: end;
  align-items: center;
}
.trackB a {
  letter-spacing: 14px;
  text-decoration: none;
}
.trackB a:nth-child(1) {
  color: blue;
}
.trackB a:nth-child(2) {
  color: crimson;
}
.trackB a:nth-child(3) {
  color: rgb(26, 190, 34);
}
.trckT span {
  position: absolute;
  padding: 10px;
  font-family: light;
  letter-spacing: 2px;
  color: var(--Clear);
  font-size: 15px;
}
.logoVC img {
  border-radius: 0;
}

/* Frame Vector */
#vector {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
  row-gap: 23px;
}
.Vcontain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  height: 310px;
}
.Vcontain .Vimages {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px;
}
.Vimages .Vlabel {
  position: absolute;
  top: 15px;
  right: -50px;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}
.Vimages .Vlabel img {
  height: 40px;
}
.Vimages:hover .Vlabel {
  right: 20px;
}
.Vcontain .Vimages img {
  position: relative;
  z-index: 1;
}
.Vcontain .Vimages::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-image: url(../file/Bg-Vector.svg);
}
.Vcontain .Vtitle {
  font-family: Medium;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 40px 55px;
}
.Vcontain .Vtitle p {
  color: #8c93bd;
  font-size: 12px;
}
.Vtitle .btnTB {
  text-decoration: none;
  color: Var(--Clear);
  padding: 13px 26px;
  border-radius: 50px;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 11px 36px 0 rgb(70 89 138 / 25%);
}

/* Frame Visete */
#Website {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 13px;
  grid-column-gap: 13px;
}
#Website .posCards {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px rgba(61, 61, 61, 0.19);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.webImg {
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.webImg img {
  top: 0;
  left: 0;
  border-radius: 0;
}
.webImg:hover img {
  transform: scale(1.2);
}
.webTitle {
  padding: 0 20px 10px;
}
.webTitle a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}
.webTitle a:hover {
  color: rgb(110, 0, 114);
}
.webTitle h2 {
  font-family: Medium;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.webTitle .postmeta {
  padding: 2px 0 7px;
  list-style: none;
  font-family: light;
  font-weight: bold;
  line-height: 1.3;
  font-size: 12px;
  display: inline-flex;
}
.webTitle .postmeta li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.webTitle .postmeta svg {
  height: 16px;
  margin-right: 5px;
}
.webTitle .webP {
  letter-spacing: 1.2px;
  font-family: light;
  font-weight: bold;
  line-height: 1.3;
  font-size: 14px;
}
.webButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1px;
}
.webButton div {
  margin: 20px 0;
  padding: 2px 0;
}
.webButton img {
  margin-right: 10px;
  width: 20px;
}
.webButton a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Light;
  color: #22222a;
}
.btnLihat {
  border-right: 1px solid #22222a;
}
.webButton a:hover {
  color: crimson;
}

/* Frame About */
#about {
  color: var(--Clear);
  font-family: Medium;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}
a {
  text-decoration: none;
  color: var(--Clear);
}
#about .box-about {
  padding-right: 4rem;
}
#about .box-about h2 {
  margin-bottom: 10px;
}
#about .box-about p span {
  color: var(--Red);
  font-size: 1.2rem;
}
#about .box-about hr {
  margin: 16px 0;
  border: none;
  height: 2px;
  background-color: var(--Aktif);
}
#about .box-about .list2 span {
  margin-right: 14px;
  font-family: Light;
  font-size: 1rem;
  color: var(--Passive);
}
#about .box-media-sosial .bax-sosial {
  background-color: var(--Passive);
  border-radius: 10px;
  padding: 20px 20px 15px;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
#about .box-media-sosial h4 {
  border-bottom: 1px solid crimson;
  width: fit-content;
  margin-bottom: 0.8rem;
}
#about .box-media-sosial ul {
  list-style: none;
  line-height: 1.4;
  padding: 0;
}

@media (min-width: 1450px) {
  #vector {
    display: none;
  }
}
@media (max-width: 1334px) {
  .Vcontain {
    height: 100%;
  }
}
@media (max-width: 1144px) {
  .Vcontain .Vtitle {
    padding: 0px 20px;
  }
  /* About Section */
  #about {
    grid-template-columns: 1.6fr 1fr;
    gap: 3rem;
  }
  #about .box-about {
    padding-right: 0;
  }
}
@media (max-width: 966px) {
  #pagePost {
    margin: 0 25px 70px;
  }
  .len {
    width: 20px;
    height: 20px;
    top: 7px;
    right: 10px;
  }
}
@media (max-width: 900px) {
  #Website {
    grid-template-columns: 1fr 1fr;
  }
  /* vector */
  .Vcontain .Vtitle h2 {
    font-size: 18px;
  }
  /* About Section */
  #about {
    gap: 1rem;
  }
}
@media (max-width: 834px) {
  #vector {
    grid-template-columns: auto;
  }
  .Vcontain .Vtitle {
    padding: 50px 57px;
  }
  .Vcontain .Vtitle h2 {
    font-size: 2rem;
  }
  /* About Section */
  #about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.2rem;
  }
}
@media (max-width: 742px) {
  #logo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .logoSVG .trckT {
    display: none;
  }
  .trackB {
    justify-content: space-around;
  }
  .trackB a {
    letter-spacing: 0;
  }
  /* Code Section */
  .webButton img {
    margin-right: 7px;
    width: 17px;
  }
  .webButton a {
    font-size: 0.8rem;
  }
}
@media (max-width: 682px) {
  .Vcontain .Vtitle {
    padding: 20px 30px;
  }
  .webTitle .postmeta li:nth-child(1) {
    display: none;
  }
  /* About Section */
}
@media (max-width: 624px) and (min-width: 436px) {
  .webTitle h2 {
    font-size: 15px;
  }
  .webTitle .postmeta {
    font-size: 9px;
  }
  .webTitle .webP {
    letter-spacing: 1px;
    font-size: 11px;
  }
}
@media (max-width: 548px) {
  #logo {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* Vector */
  .Vcontain {
    grid-template-columns: auto;
  }
  .Vcontain .Vimages {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .Vcontain .Vimages .Vgambar {
    width: 300px;
  }
  .Vcontain .Vtitle {
    align-items: center;
    height: 240px;
    text-align: center;
  }
  /* About Section */
  #about .box-about .list2 span {
    display: inline-block;
  }
}
@media (max-width: 436px) {
  #logo {
    grid-template-columns: 1fr 1fr;
  }
  /* Code */
  #Website {
    grid-template-columns: 1fr;
  }
  .webButton img {
    margin-right: 10px;
    width: 20px;
  }
  .webButton a {
    font-size: 1rem;
  }
  /* Vector */
  .Vimages .Vlabel img {
    height: 30px;
  }
  .Vcontain .Vimages .Vgambar {
    width: 200px;
  }
  .Vcontain .Vtitle h2 {
    font-size: 18px;
  }
  .Vcontain .Vtitle {
    padding: 0px 8px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  /* About Section */
  #about {
    grid-template-columns: 100%;
    gap: 10px;
  }
  #about .box-about {
    font-family: Light;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  #about .box-about :where(p, p span) {
    font-size: 1rem !important;
  }
  #about .box-about .list2 {
    display: none;
  }
  .box-media-sosial .bax-sosial ul li {
    font-size: 15px;
  }
}
@media (max-width: 356px) {
  /* About Section */
  #about .box-media-sosial .bax-sosial {
    flex-wrap: wrap;
  }
  #about .box-media-sosial .bax-sosial div {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 280px) {
  #logo {
    grid-template-columns: 1fr;
  }
  /* Vector */
  .Vcontain .Vtitle {
    padding: 0px 8px;
    height: 170px;
  }
  .Vcontain .Vimages .Vgambar {
    width: 170px;
  }
  .Vcontain .Vtitle h2 {
    font-size: 16px;
  }
  .Vcontain .Vtitle p {
    font-size: 9px;
  }
  .Vtitle .btnTB {
    padding: 10px 20px;
    font-size: 8px;
  }
  /* About Section */
  .box-about hr {
    display: none;
  }
}

/* Color Background */
.magenta {
  background-image: linear-gradient(225deg, #be1ad4, #f35081);
}
.green {
  background-image: linear-gradient(225deg, #1ad4bb, #b2de94);
}
.blue {
  background-image: linear-gradient(225deg, #1e70eb, #7aafff);
}
.red {
  background-image: linear-gradient(225deg, #e83b3b, #ff9a00);
}
