body {
  background: var(--Dark);
  height: 900px;
}
* {
  margin: 0;
}
#body {
  padding-top: 110px;
  margin: 0 40px;
}
/* Profile section */
#profile {
  justify-content: center;
  display: flex;
  align-items: center;
}
#profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 3px;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 19%,
    rgba(0, 255, 0, 1) 38%,
    rgba(0, 255, 255, 1) 51%,
    rgba(0, 0, 255, 1) 67%,
    rgba(255, 0, 255, 1) 83%,
    rgba(255, 0, 0, 1) 99%
  );
}
.nama {
  margin-left: 40px;
  font-family: Light;
  color: var(--Clear);
}
.nama h1 {
  font-size: 28px;
  line-height: 30px;
  text-align: start;
  letter-spacing: 2px;
}
.nama p {
  letter-spacing: 1px;
  line-height: 36px;
  font-size: 15px;
}
.nama .btn1 {
  padding: 8px 26px;
}
.nama .fas {
  width: 40px;
  padding: auto;
}
.nama button {
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--White);
  height: 36px;
  margin-top: 15px;
  background-color: var(--Dark);
  border: 2px solid var(--Gray);
  border-radius: 7px;
  margin-right: 12px;
}

/* Option Section */
#option {
  position: relative;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
#option::after {
  position: absolute;
  content: " ";
  width: 100%;
  border-bottom: 1px solid #888192;
  bottom: -10px;
}
.link a {
  font-size: 16px;
  text-decoration: none;
  font-family: Medium;
  margin-right: 20px;
  color: #6e6d7a;
}
.link a:hover {
  color: var(--Clear);
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid #6e6d7a;
  border-radius: 7px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--Blur);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #fdfdfd;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.63);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(39, 130, 250, 0.486);
}
/* Content section */
#isiPostingan {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* myCard section */
.cTNGambar {
  position: relative;
}
.TLable {
  position: absolute;
  background: rgba(0, 0, 0, 0.315);
  padding: 2px 40px 6px 20px;
  top: 0;
  color: var(--White);
  border-bottom-right-radius: 50px;
  font-family: Light;
}
.card {
  margin: 19px 0;
  width: 31%;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
.card img {
  width: 100%;
  border-radius: 6px;
}
.iconDekorasi {
  font-size: 14px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  color: var(--Clear);
}
.iconDekorasi .kanan i {
  margin-right: 5px;
}
.iconDekorasi i span,
.iconDekorasi a span {
  font-family: Light;
  letter-spacing: 1px;
}
.iconDekorasi a {
  color: var(--Clear);
  text-decoration: none;
}

@media (max-width: 965px) {
  #body {
    margin: 0 25px;
  }
  /* Option Section */
  #option {
    display: block;
  }
  #option::after {
    bottom: 60%;
  }
  /* The container must be positioned relative: */
  .custom-select {
    margin-top: 50px;
  }
  /* myCard section */
  .card {
    width: 48%;
    border-radius: 10px;
  }
  .card img {
    border-radius: 10px;
  }
}
@media (max-width: 768px) {
  #profile {
    display: inline;
  }
  #profile img {
    height: 90px;
    width: 90px;
    padding: 2px;
  }
  .nama {
    margin-top: 10px;
    margin-left: 0;
  }
  .nama h1 {
    font-size: 24px;
  }
  .nama p {
    line-height: 40px;
    font-size: 12px;
  }
  .nama .btn1 {
    padding: 0 20px;
  }
  .nama button {
    letter-spacing: 2px;
    height: 34px;
    margin-top: 10px;
    border: 1px solid var(--Gray);
    margin-right: 9px;
  }
  #option {
    margin-top: 50px;
  }
}
@media (max-width: 628px) {
  .link a {
    display: inline-block;
  }
  .custom-select {
    width: 140px !important;
  }
  .select-items div,
  .select-selected {
    border: 0;
  }
  /* myCard section */
  .card {
    width: 100%;
    border-radius: 6px;
  }
  .card img {
    border-radius: 6px;
  }
}
