@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body::before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  background-image: url(../img/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body{
  font-family: 'Poppins', Sans-Serif;
}

/* Navbar section styling */
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
}
.navbar .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
#navbarNav ul li a{
  text-align: center;
}

/* home section styling */
.home {
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;
    margin-top: 50%;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

/* icon section styling*/
.icons {
  margin-left: -30px;
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.content .icons a{
  height: 88px;
  width: 88px;
  margin-right: 30px;
  font-size: 36px;
  text-decoration: none;
  border-style: solid;
  border-width: 6px;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #F06A35;
  border-color: #F0C1AE;
}
.icons a:nth-child(1):hover{
  background: #F06A35;
}
.icons a:nth-child(2){
  color: #e1306c;
  border-color: #f5bccf;
}
.icons a:nth-child(2):hover{
  background: #e1306c;
}
.icons a:nth-child(3){
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(3):hover{
  background: #0088cc;
}
.icons a:nth-child(4){
  color: #EA4C89;
  border-color: #FFB8D3;
}
.icons a:nth-child(4):hover{
  background: #EA4C89;
}
.icons a:nth-child(5){
  color: #333333;
  border-color: #B5B5B5;
  visibility: hidden;
}
.icons a:nth-child(5):hover{
  background: #333333;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}

/* Footer section styling*/
footer{
   position:fixed;
   bottom:0;
   width:100%;
   color: white;
   font-size: 30px;
}
footer i{
  color: crimson;
}
footer a{
  text-decoration: none;
  color: white;
}

/* responsive media query start */

@media screen and (max-width: 450px) {
body::before {
  background-image: url(../img/mobile_version.png);
  background-size: 100%;
  background-repeat: repeat;
}
.navbar{
  height: 40px;
}
.logo{
  right: 13px;
  position: absolute;
}
.navbar .logo a{
  font-size: 19px;
}
.navbar-toggler{
  display: none;
}
.home {
  text-align: center;
  margin-top: 40%;
}
.home .home-content .text-1{
    font-size: 16px;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 600;
}
.home .home-content .text-3{
    font-size: 24px;
}
.home .home-content .text-3 span{
    color: crimson;
}
.icons {
  margin-left: -20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .icons a{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
}
.icons a:nth-child(5){
  visibility: visible;
}
footer{
  text-align: center;
  font-size: 13px;
}
/*Color Text*/
.text-1,.text-2,.text-3,.credit,footer p{
  color: #333;
}
}