* {
  font-family: Medium;
}
.navbar {
  background: var(--Dark) !important;
}
body {
  position: relative;
}
.overbase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contain {
  padding-top: 52px;
  width: 100%;
}
.contain .heroimages {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
/* imges section */
.heroimages img {
  position: absolute;
  bottom: 1px;
  width: 100%;
}
/* Post section */
.contain #postContaint {
  display: grid;
  grid-template-columns: 300px 1fr;
}
#postContaint .download {
  height: 310px;
  display: flex;
  justify-content: center;
}
#postContaint .download .box {
  background: #ececec;
  width: 90%;
  margin-top: 25px;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.download .box .atas h1 {
  margin: 0 0 10px;
}
.download .box .tag {
  margin: 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.download .box .tag .tagar {
  padding: 3px 10px;
  border-radius: 50px;
  background: rgb(185, 185, 185);
  width: fit-content;
  font-size: 10px;
  margin: 5px 5px 5px 0;
}
.download .box .tag .tagar img {
  width: 7px;
}
.download .box .button {
  display: flex;
  align-items: center;
}
.download .box .button .dwn {
  padding: 10px 50px;
  color: var(--Clear);
  border-radius: 2px;
  background: var(--Dark);
  margin-right: 30px;
}
.download .box .button div {
  font-size: 26px;
}
#postContaint #container {
  margin: 0 20px;
}
#postContaint .title .create {
  display: flex;
  align-items: center;
}
#postContaint .title .create img {
  width: 40px;
  margin-right: 20px;
}
#container :where(.pagesImg, .about) {
  margin-top: 40px;
}
#container .pagesImg .gallery {
  width: 100%;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#container .about h2 {
  margin-bottom: 8px;
}
#container .pagesImg .gallery img {
  width: 100%;
}

/* Responsiv Design */
@media (min-width: 1273px) {
  #postBlog {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* 1673px */
  .contain .heroimages {
    width: 100%;
    height: 460px !important;
    overflow: hidden;
    position: relative;
  }
  #postContaint {
    position: relative;
    z-index: 1;
    top: -310px;
    max-width: 1273px !important;
    background-color: var(--Clear);
    border-radius: 5px;
    padding-bottom: 300px;
    box-shadow: 0px 0px 45.8px rgba(0, 0, 0, 0.02), 0px 0px 366px rgba(0, 0, 0, 0.04);
  }
  .heroimages img {
    bottom: -100px;
    width: 100%;
  }
  #container .pagesImg .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 797px) {
  .contain #postContaint {
    display: inline;
  }
  #postContaint .download {
    height: auto;
    width: 100%;
    margin-bottom: 50px;
  }
  #postContaint .download .box {
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 505px) {
  .contain #postContaint {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }
  #postContaint .download .box {
    flex-direction: column;
    gap: 30px;
  }
  #postContaint .download:nth-of-type(1) {
    grid-row: 2;
    margin-bottom: 0;
  }

  #postContaint #container:nth-of-type(2) {
    grid-row: 1;
  }
  #postContaint #container .title h2 {
    font-size: 1rem;
  }
  #postContaint #container .title span {
    font-size: 0.8rem;
  }
  .contain .heroimages {
    width: 100%;
    height: 200px;
  }
  #container .pagesImg .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 340px) {
  .contain .heroimages {
    width: 100%;
    height: 200px;
  }
  #container .pagesImg .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #postContaint #container .title h2 {
    font-size: 19px;
  }
  #postContaint #container .title .create {
    font-size: 19px;
  }
}
@media (max-width: 300px) {
  #postContaint #container {
    margin: 0 10px;
  }
  .contain .heroimages {
    height: 150px;
  }
  #postContaint #container .title h2 {
    font-size: 15px;
  }
  #postContaint #container .title .create {
    display: none;
  }
  #container .pagesImg .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/* Moladbox Share */
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.596);
  display: grid;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: var(--Clear);
  z-index: 2;
}
.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}
.modal {
  padding: 0 24px;
  width: 600px;
  height: 400px;
  background-color: var(--Dark);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px, rgba(0, 0, 0, 0.4) 0px 8px 10px -5px;
  position: relative;
}
.modal i {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: grid;
  place-items: center;
  transition: all 200ms ease-in-out;
}
.modal i:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.head h3 {
  margin-top: 56px;
  font-family: Light;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
}
.share h3 {
  font-family: Light;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 20px;
}
.btn-share {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
}
.target {
  line-height: 3;
  margin: 1px 0;
  border: none;
  border-radius: 3px;
  padding: 5px 1px 2px;
  outline: none;
  text-align: inherit;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.target span {
  font-size: 13px;
  font-family: Light;
  letter-spacing: 1px;
}
.btn-share .buttonClick {
  --prv: 67px;
  width: var(--prv);
  height: var(--prv);
  border-radius: 100px;
  padding: var(--pdg);
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonClick svg {
  fill: var(--Clear);
}
.share #bar {
  margin-top: 30px;
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
#bar input {
  margin-left: 16px;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  color: var(--Clear);
  font-size: 14px;
  padding: 3px 10px;
  font-family: Light;
  letter-spacing: 1px;
}
#bar input:focus {
  outline: 1px solid;
}
#bar span {
  padding: 0 18px;
  cursor: pointer;
  font-family: Light;
  letter-spacing: 1px;
  color: var(--Biru);
}
@media (max-width: 663px) {
  .modal {
    transform: scale(0.7);
  }
}
@media (max-width: 505px) {
  .modal {
    transform: scale(0.6);
  }
}
@media (max-width: 410px) {
  .modal {
    transform: scale(0.4);
  }
}
