body {
  background: var(--Non-Aktif);
  color: var(--White);
  font-family: Medium;
  letter-spacing: 2px;
}
.SelectOff {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  pointer-events: none !important;
}
/* Herosection */
.herosection {
  display: flex;
  align-items: center;
  padding: 0 40px;
  padding-top: 60px;
  height: 100vh;
  max-width: 1380px;
  margin: auto;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.Welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: Medium;
  font-weight: bold;
  color: var(--Red);
}
h4 {
  font-family: Medium;
}

h1 span {
  color: var(--White);
}
.desk {
  width: 70%;
  letter-spacing: 1px;
  font-family: Thin;
  font-size: 20px;
  line-height: 122%;
  padding-right: 50px;
  margin-bottom: 45px;
}
.tulisan a {
  position: relative;
  display: inline;
  letter-spacing: 3px;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  transition-delay: 1s;
  background: var(--Aktif);
}
.tulisan a:hover {
  transition-delay: 0.8s;
  color: rgba(255, 255, 255, 1);
}
.tulisan a span {
  display: block;
  position: absolute;
  background: #2894ff;
}
/* animasi button */
.tulisan a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.tulisan a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.tulisan a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.tulisan a:hover span:nth-child(2) {
  transform: scalex(1);
  transform-origin: left;
  transition: transform 0.5s;
}
.tulisan a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.tulisan a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.tulisan a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.tulisan a:hover span:nth-child(4) {
  transform: scalex(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
/* end animasi button */
.text2 {
  letter-spacing: 1px;
  font-family: Thin;
  color: var(--Gray);
  margin-top: 70px;
}
/* FileSectuon */
.extension {
  background-color: var(--Passive);
  padding: 15px 0;
  flex-wrap: wrap;
  text-align: center;
}
.file {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 20px;
  padding-bottom: 30px;
}
/* myCard section */
.text-box {
  font-family: Thin;
  width: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
}
#lembar {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 20px 2rem;
  scrollbar-width: none;
  gap: 1rem;
  display: flex;
}
#lembar:hover,
#lembar:hover .box-project .box-overvlow,
.Testimonials .box-container:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
#lembar:active,
#lembar:active .box-project .box-overvlow,
.Testimonials .box-container:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
#lembar .box-project {
  min-width: 373px;
  height: 476px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#lembar::-webkit-scrollbar {
  height: 0;
}
#lembar .box-project img {
  width: 100%;
  height: 476px;
}
#lembar .box-project .box-overvlow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 0;
  background: rgba(0, 0, 0, 0.1);
}
#lembar .box-project .box-overvlow:hover {
  background: rgba(12, 12, 12, 0.3);
}
.box-overvlow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-overvlow .over-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.over-top i,
.over-top h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a9a;
  margin: 8px 0 0;
}
.over-top h5 {
  font-size: 0.7rem;
  padding: 0 20px;
  height: 1.8rem;
  border-radius: 50px;
}
.box-overvlow a {
  text-decoration: none;
  color: var(--Clear);
}
.over-top i {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 0.7rem;
  border-radius: 50px;
}
.over-bottom {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 6.01%,
    rgba(0, 0, 0, 0.45) 66.29%
  );
  padding: 45px 20px 20px;
  height: 30%;
}
.box-overvlow .over-bottom h3 {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 1.7px;
  width: fit-content;
}
.box-overvlow .over-bottom h3:hover {
  text-decoration: underline;
  color: #dc3545;
}
.box-overvlow .over-bottom span {
  letter-spacing: 1.8px;
  font-size: 0.8rem;
  line-height: 0px;
  font-family: Medium;
}
/* Video Section */
.tittle {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.video {
  overflow: hidden;
  padding: 15px 0 50px 0;
  background-color: var(--Passive);
  display: grid;
  place-items: center;
  position: relative;
}
#embed {
  position: relative;
  padding: 0 20px;
  max-width: 1000px;
  width: 100%;
  height: 300px;
}
#embed .text-video {
  text-align: center;
  width: 100%;
  height: 100%;
}
img.video-img {
  display: none;
}

#text-background {
  font-family: Medium;
  z-index: 0;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 5em;
  color: transparent;
  letter-spacing: 9px;
  -webkit-text-stroke: 0.1px var(--bgr-color);
}
#text-background:nth-child(1) {
  left: 20px;
  top: 0;
}
#text-background:nth-child(2) {
  right: 0;
  bottom: 0;
}
.video #embed .botton-play {
  z-index: 99;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 9em / 2);
  width: 9em;
  height: 4em;
  border-radius: 100px;
  border: 2px dashed #f5f5f5;
  overflow: hidden;
  display: grid;
  place-items: center;
}
#embed .botton-play svg {
  height: 50%;
  fill: #f5f5f5;
}
/* Start video Modal */
.container-video {
  position: relative;
  height: 0;
  padding-bottom: 56.2%;
}
.container-video iframe {
  border: 3px solid #f5f5f5;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
}
.elementor-video {
  width: 100%;
}
.modalBox.active {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: space-around;
  padding: 0 10%;
  top: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.84);
  backdrop-filter: blur(4px);
  z-index: 999;
}
.modalBox,
.hiden {
  display: none;
}
/* End video Modal */

/* Testimonials */
.Testimonials .box-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  font-family: Medium;
  gap: 1rem;
  display: flex;
  margin: 0 20px 2rem;
  scrollbar-width: none;
}
.Testimonials .box-container::-webkit-scrollbar {
  height: 0;
}
.Testimonials .box-container .box {
  min-width: calc(33% - 8px);
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 1.3rem;
  backdrop-filter: blur(0.4rem);
}
.Testimonials .box-container .box .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Testimonials .box-container .box .images i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.1);
}
.Testimonials .box-container .box .images img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
}
.Testimonials .box-container .box h3 {
  margin: 1rem 0 0.3rem;
  font-size: 1.5rem;
  color: Var(--Clear);
}
.Testimonials .box-container .box span {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.1);
}
.Testimonials .box-container .box p {
  font-size: 1rem;
  color: Var(--Clear);
  line-height: 1.4;
  margin: 1rem 0;
}
.Testimonials .box-container .box .stars {
  padding-top: 0;
}
.Testimonials .box-container .box .stars i {
  padding-top: 1rem;
  color: #b6db0f;
}

/* contact Us */
.Contact {
  background: var(--Passive);
  padding: 2px 0 40px 0;
}
.contents {
  display: grid;
  place-items: center;
}
.akun {
  margin-top: 40px;
}
.akun a {
  color: var(--White);
  margin: 0 10px;
}
.akun a:hover {
  color: var(--Red);
}
/* send message for me */
.contents .inti {
  width: 90%;
}
.contents .inti #inText,
.contents .inti i {
  width: 100%;
  border-radius: 5px;
}
.contents .inti #inText {
  height: 200px;
  background: var(--Non-Aktif);
  color: Var(--White);
  border: none;
  outline: none;
  resize: vertical;
  padding: 10px 20px;
}
.contents .inti i {
  padding-left: 20px;
  height: 40px;
  background: var(--Non-Aktif);
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inti i:hover {
  background: var(--Biru);
}
.inti i span {
  font-size: 14px;
  font-family: Thin;
  width: 100%;
  text-align: center;
}

/* animasi button */
.gambar {
  z-index: 1;
}
.gambar span {
  display: block;
  position: absolute;
  background: #2894ff;
}
.gambar span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.gambar:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.gambar span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.gambar:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.gambar span:nth-child(4) {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 1px;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.gambar:hover span:nth-child(4) {
  transform: scalex(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.gambar span:nth-child(5) {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 1px;
  transform: scalex(0);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.gambar:hover span:nth-child(5) {
  transform: scalex(1);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.Contact {
  position: relative;
  z-index: 1;
}
#ctaAnimation {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* LogoLoader */
.InLoader {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #22222a;
  display: grid;
  align-items: center;
  justify-content: center;
}
#logoLoader {
  animation: fill 0.5s ease forwards 4.5s;
}
#logoLoader path:nth-child(1) {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-anim 2s ease forwards;
}
#logoLoader path:nth-child(2) {
  stroke-dasharray: 420px;
  stroke-dashoffset: 420px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logoLoader path:nth-child(3) {
  stroke-dasharray: 488px;
  stroke-dashoffset: 488px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logoLoader path:nth-child(4) {
  stroke-dasharray: 479px;
  stroke-dashoffset: 479px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logoLoader path:nth-child(5) {
  stroke-dasharray: 380px;
  stroke-dashoffset: 380px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logoLoader path:nth-child(6) {
  stroke-dasharray: 316px;
  stroke-dashoffset: 316px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logoLoader path:nth-child(7) {
  stroke-dasharray: 387px;
  stroke-dashoffset: 387px;
  animation: line-anim 2s ease forwards 1.8s;
}
#logoLoader path:nth-child(8) {
  stroke-dasharray: 475px;
  stroke-dashoffset: 475px;
  animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media (max-width: 666px) {
  #logoLoader {
    transform: rotate(90deg);
    animation: fill 0.5s ease forwards 4.5s;
  }
}
