/* @media (max-width: 360px) {
  .view img {
    display: none;
  }
} */
@media (max-width: 401px) {
  /* herosection section */
  .herosection {
    height: 90vh;
  }
  .desk {
    letter-spacing: 1px;
    font-size: 16px;
    padding-right: 0;
  }
  .tulisan {
    text-align: center;
  }
  .text2 {
    font-size: 10px;
  }
  .video {
    padding: 5px;
  }
  .embed {
    display: grid;
    grid-template-columns: 100%;
  }
  .Video2 {
    margin-top: 15px;
  }
  .embed img {
    width: 90%;
  }
  .conten1 {
    display: grid;
    place-items: center;
    margin: 0;
  }
  .conten1 .view img {
    display: none;
  }
  .conten1 .view .review p {
    font-size: 17px !important;
  }
  .view {
    width: 100% !important;
    display: grid;
    grid-template-columns: auto;
  }
  .review {
    text-align: center;
  }
  .conten1 .view .review h5 {
    margin-top: 50px;
    font-size: 16px !important;
  }
  .conten1 .view .review span {
    font-size: 12px !important;
  }
}
@media (max-width: 414px) {
  .hiden5,
  .hiden6 {
    display: none;
  }
  .file img {
    width: 60px;
    margin: 0px;
  }
  /* review section */
  .conten1 .view {
    width: 100%;
  }
  .conten1 .view img {
    height: 60%;
  }
  .conten1 .view .review p {
    line-height: 1;
    font-size: 11px;
  }
  .conten1 .view .review h5 {
    font-size: 9px;
  }
  .conten1 .view .review span {
    font-size: 8px;
  }
  .end1 {
    display: none;
  }
  .footer,
  .logoIcon a {
    font-size: 14px;
    line-height: 1.4;
  }
  .footer {
    width: 70%;
  }
}
@media only screen and (max-width: 582px) and (min-width: 414px) {
  .view img {
    height: 60% !important;
  }
  .view .review p {
    font-size: 30%;
  }
  .footer,
  .logoIcon a {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media (max-width: 663px) {
  /* herosection section */
  .herosection {
    padding: 0 20px;
    padding-top: 60px;
    height: 500px;
  }
  .Welcome {
    flex-direction: column;
  }
  .Welcome img {
    display: none;
  }
  h1 {
    font-family: Medium;
    font-weight: bold;
    color: #dc3545;
  }
  h1 span {
    color: #ece5f6;
  }
  .desk {
    width: 100%;
  }
  .tulisan button {
    font-family: thin;
    font-size: 14px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 145px;
    height: 42px;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .tulisan button:hover {
    background: rgba(240, 248, 255, 0.2);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
  .text2 {
    letter-spacing: 1px;
    font-family: Thin;
    color: #888192;
  }
  /* extension section */
  .file {
    margin: 0;
    padding-bottom: 0;
  }
  .file img {
    width: 70px;
    margin: 10px;
  }
  /* Card section */
  .myCard {
    padding: 0;
    margin-bottom: 30px;
  }
  .lembar {
    padding: 0 1em;
    grid-template-columns: auto !important;
  }
  #card {
    display: none;
  }
  .bam {
    background-color: #dc354600;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0;
    width: 100%;
  }
  /* Testimonial section */
  .view {
    width: 90%;
  }
  .view img {
    height: 70%;
  }
  .view .review p {
    font-size: 13px;
  }
  .view .review h5 {
    font-size: 12px;
  }
  .view .review span {
    font-size: 10px;
  }
}
@media (max-width: 1170px) {
  /* herosection section */
  .herosection {
    background: #1e1d1f;
    height: 550px;
  }
  .Welcome img {
    width: 270px;
  }
  .herosection {
    align-items: flex-start;
  }
  .Welcome {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .desk {
    width: 100%;
  }
  /* extenson section */
  .file {
    margin: 7px 10px;
    padding-bottom: 20px;
  }
  .file .hiden7 {
    display: none;
  }
  /* card section */
  .lembar {
    padding: 0 1em;
    grid-template-columns: 390px auto;
  }
  #card {
    width: 370px;
    text-align: center;
  }
  .profile h4 {
    font-size: 28px;
    line-height: 1;
  }
  .profile img {
    height: 99px;
  }
  #card p {
    font-family: thin;
    font-size: 20px;
    line-height: 1.4;
    color: #ece5f7;
  }
  .tBawah img {
    height: 100px;
    padding-left: 10px;
    margin-top: 70px;
  }
  .daftar a i {
    font-size: 20px;
  }
  /* Video sectio */
  .video {
    padding: 15px 5px 30px 5px;
  }
  .embed img {
    width: 94%;
  }
  /* Testimonial section */
  .view {
    width: 90%;
  }
  .view img {
    height: 90%;
  }
  .view .review p {
    font-size: 13px;
  }
  .view .review h5 {
    font-size: 12px;
  }
  .view .review span {
    font-size: 10px;
  }
}
