body {
  background: var(--Non-Aktif);
  color: var(--White);
  font-family: Medium;
  letter-spacing: 2px;
}
img {
  pointer-events: none !important;
}
/* Herosection */
.herosection {
  display: flex;
  align-items: center;
  padding: 0 40px;
  padding-top: 60px;
  height: 100vh;
}
.Welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: Medium;
  font-weight: bold;
  color: var(--Red);
}
h1 span {
  color: var(--White);
}
.desk {
  width: 70%;
  letter-spacing: 1px;
  font-family: Thin;
  font-size: 20px;
  line-height: 122%;
  padding-right: 50px;
}
.tulisan button {
  font-family: thin;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--White);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 145px;
  height: 42px;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: var(--Dark);
  border: 1px solid var(--Gray);
}
.tulisan button:hover {
  background: var(--Button-Blur);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.text2 {
  letter-spacing: 1px;
  font-family: Thin;
  color: var(--Gray);
}
/* FileSectuon */
.extension {
  background-color: var(--Aktif);
  padding: 15px 0;
  flex-wrap: wrap;
  text-align: center;
}
.file {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 20px;
  padding-bottom: 30px;
}
/* myCard section */
#lembar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin: 19px 0;
  width: 31%;
}
.card img {
  width: 100%;
}

.card .label a {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--White);
  font-family: Medium;
  line-height: 0;
  font-size: 13px;
}
.label h3 {
  margin-right: 10px;
}
.card .label a:hover {
  color: var(--Biru);
}
.card .label p {
  font-family: Light;
  font-size: 13px;
  line-height: 0.1;
  color: var(--Gray);
}
/* Video Section */
.tittle {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-family: Thin;
}
.video {
  background-color: var(--Passive);
  padding: 15px 0 50px 0;
}
.embed {
  display: grid;
  grid-template-columns: auto auto;
}
.embed img {
  align-self: center;
  justify-self: center;
}
/* Testimonials */
.conten1 {
  display: grid;
  place-items: center;
  margin: 10px 0 60px 0;
}
.view {
  font-family: Thin;
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  place-items: center;
}
.view img {
  width: 70%;
}
.view .review p {
  line-height: 1.3;
  font-style: italic;
  font-size: 15px;
}
.view .review h5 {
  font-size: 14px;
  color: var(--White);
}
.view .review span {
  font-size: 12px;
  line-height: 22px;
  color: var(--Passive);
}
/* footer Section */
footer {
  font-family: Medium;
  width: 100%;
  background: var(--Footer);
  color: var(--Dark);
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: var(--Dark);
}
footer a:hover {
  color: var(--Red);
  font-weight: bold;
}
.logoIcon a {
  font-size: 20px;
  margin-left: 12px;
}

/* contact Us */
.Contact {
  background: var(--Aktif);
  padding: 2px 0 40px 0;
}
.contents {
  display: grid;
  place-items: center;
}
.akun {
  margin-top: 40px;
}
.akun a {
  color: var(--White);
  margin: 0 10px;
}
.akun a:hover {
  color: var(--Red);
}
/* send message for me */
.contents .inti {
  width: 90%;
}
.contents .inti #inText,
.contents .inti i {
  width: 100%;
  border-radius: 5px;
}
.contents .inti #inText {
  height: 200px;
  background: var(--Non-Aktif);
  color: Var(--White);
  border: none;
  outline: none;
}
.contents .inti i {
  padding-left: 20px;
  height: 40px;
  background: var(--Non-Aktif);
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inti i:hover {
  background: var(--Biru);
}
.inti i span {
  font-size: 14px;
  font-family: Thin;
  width: 100%;
  text-align: center;
}
