/*Font Design*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

/*Root*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", Sans-Serif;
}
#myproject {
  margin-top: 2rem;
  color: white;
}
svg {
  margin-top: -1px;
}
.atara {
  margin-bottom: -3px;
}
.atara1 {
  margin-top: -21px;
}
.title-section {
  color: rgb(50, 50, 50);
  text-align: center;
  font-family: Nunito sans;
  font-size: 35px;
}
.title-section span {
  color: crimson;
}

/*jumbotron styles start*/
#jumbotron {
  display: flex;
  height: 600px;
  background-color: #22222a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#jumbotron .welcome {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 60px;
}
#jumbotron p {
  text-align: center;
  font-size: 40px;
  width: 80%;
  margin-bottom: 80px;
}
button {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 24px;
  color: crimson;
  width: 210px;
  height: 75px;
  border-radius: 50px;
  border: 4px solid crimson;
  cursor: pointer;
}
button:hover {
  background-color: crimson;
  color: white;
  transition: 0.5s ease;
}
/*Project styles start*/
.title-project {
  display: flex;
  margin: 0 15px;
  align-items: center;
  justify-content: space-between;
  color: rgb(50, 50, 50);
}
.title-project h2 {
  font-size: 26px;
  font-weight: 900;
}
.title-project a {
  font-size: 24px;
  font-weight: 800;
  color: #8d8d8d;
  font-family: "Nunito sans", Sans-Serif;
}
.title-project a:hover {
  color: crimson;
  transition: 0.5s ease;
}
.project-album {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: flex-start;
}
.container {
  position: relative;
  width: 296px;
  margin: 15px 15px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2%;
  box-shadow: 5px 4px 7px #9b9b9b;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(9, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 2%;
}
.container:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text span {
  color: crimson;
}

/*Tools styles start*/
#tools {
  margin-top: -5px;
  color: white;
  height: 600px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #22222a;
}
#tools .title-section {
  color: white;
}
.shoftware {
  margin-top: 60px;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-apps {
  display: flex;
  position: relative;
  width: 30%;
  margin: 20px 0;
  align-items: center;
  flex-direction: column;
}
.icn {
  display: block;
  width: 100px;
  height: auto;
}
/*Contact styles start*/
#contact .judul-kontak {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}
#contact ul li {
  font-size: 17px;
  text-align: center;
  margin: 8px 0 0 0;
  list-style: none;
}
#contact ul li a {
  color: #22222a;
  margin: 0 12px;
}
