a {
  text-decoration: none;
}
body {
  font-family: Light;
}
.navbar {
  background: var(--Dark);
}
.infoBottom {
  margin-top: 50px;
}

/* Bagian bawah */
#short,
.curl {
  max-width: 1604px;
  margin: auto;
}
.curl {
  padding: 80px 10px 0;
  display: flex;
  align-items: center;
}
.curl :where(a, span, i) {
  color: rgba(0, 0, 0, 0.514);
  cursor: pointer;
}
#short .post {
  display: flex;
  justify-content: space-between;
}
/* Bagian bawa Kiri */
#short .post .left {
  max-width: 900px;
  width: 100%;
  padding: 20px 10px 10px;
}
#short .post .left img {
  width: 100%;
}
.share {
  margin: 10px 0 20px;
  width: 100%;
  text-align: right;
}
.share i {
  background-color: var(--color);
  padding: 10px;
  color: var(--Clear);
  border-radius: 3px;
}

/* Bagian bawah Kanan */
#short .post .right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#short .post .right .ads {
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 20px 10px 10px;
  position: relative;
}
.ads .closs {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  position: absolute;
  font-family: sans-serif;
  right: 10px;
  top: 25px;
  color: var(--Dark);
  width: 55px;
}
#short .post .right .ads a img {
  width: 100%;
}
#short .post .right .dwn {
  width: calc(100% - 20px);
}
#short .post .right .name table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.tag div i,
table td i {
  padding-right: 10px;
}
#short .post .right .dwn h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--White);
}
table {
  font-size: 13px;
}
.bawah td {
  padding-top: 15px;
}
.tag div {
  width: 100%;
}
.tag-name {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.tag-name span {
  background-color: rgba(218, 218, 218, 0.514);
  color: rgb(0, 0, 0);
  margin: 2px 5px 2px 0;
  padding: 5px 10px;
  border-radius: 100px;
}
.dwn .tag div:nth-child(1),
.name .ttl td {
  padding: 10px 0 10px 10px;
  background-color: var(--White);
}
.bawah td {
  padding-left: 10px;
}
.short-download {
  text-align: center;
  padding: 10px 20px;
  font-size: 1.4rem;
  width: 100%;
  color: #fff;
  background-color: var(--Dark);
  margin: 30px 0 20px;
}

/* @media (min-width: 1000px) {
  #short .post .left {
    width: 800px;
  }
} */
@media (max-width: 720px) {
  #short .post {
    display: block;
  }
  #short .post .right {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
  #short .post .right .ads {
    order: 2;
    flex: 1;
    height: 100% !important;
  }
  #short .post .right .dwn {
    padding-left: 10px;
    flex: 2;
    order: 1;
  }
  .right {
    margin-bottom: 50px;
  }
}

@media (max-width: 490px) {
  #short .post .right .ads {
    display: none;
  }
  #short .post .right .dwn {
    padding: 0 10px;
  }
}
