<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Short | Download</title>
    <!-- Meta Browser Phone -->
    <meta name="theme-color" content="#22222a" />
    <meta name="msapplication-navbutton-color" content="#22222a" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#22222a" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css wajib -->
    <link rel="stylesheet" href="/css/universal.min.css" />
    <link rel="stylesheet" href="/css/NavbarRE.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/download/logo.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">In<span>Sketch</span></div>
      <div class="menu">
        <ul class="daftar">
          <a id="Welcome">Welcome </a>
          <a id="Download">Download</a>
          <a id="License">License</a>
          <a id="Blog">Blog</a>
          <button class="suport">Suport</button>
        </ul>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    <div class="curl">
      <a href="/">Home&nbsp;&nbsp;</a>
      <i class="fas fa-angle-right"></i>
      <a href="/Download">&nbsp;&nbsp;Download&nbsp;&nbsp;</a>
      <i class="fas fa-angle-right"></i>
      <span class="list-link">&nbsp;&nbsp;logo - InSketch</span>
    </div>
    <div id="short">
      <div class="post">
        <div class="left">
          <img id="banner-logo" src="" alt="gambar" />
          <div class="share">
            <i style="--color: #4267b2" class="fab fa-facebook-f"></i>
            <i style="--color: #1da1f2" class="fab fa-twitter"></i>
            <i style="--color: #e60023" class="fab fa-pinterest-p"></i>
            <i style="--color: #25d366" class="fab fa-whatsapp"></i>
            <i style="--color: #229ed9" class="fab fa-telegram-plane"></i>
            <i style="--color: #ff4500" class="fab fa-reddit-alien"></i>
            <i style="--color: #36465d" class="fab fa-tumblr"></i>
          </div>
          <div class="deskripsi"><p></p></div>
          <div class="lisensi">
            Gratis untuk penggunaan pribadi. Tidak diperlukan atribusi.
          </div>
          <div class="info" id="info"></div>
        </div>
        <div class="right">
          <div class="ads">
            <a href=""
              ><img
                alt="Adsafelink | Shorten your link and earn money"
                src="https://adsafelink.com/banner/300x250.png"
            /></a>
            <div class="closs">
              <i
                class="fas fa-exclamation-circle"
                title="Ad from Appsventory"
              ></i>
              <i class="fas fa-times" title="Hiden"></i>
            </div>
          </div>
          <div class="dwn">
            <h2></h2>
            <div class="tag">
              <div><i class="fas fa-tags"></i>Tag :</div>
              <div class="tag-name"></div>
            </div>
            <div class="name">
              <table>
                <tr class="ttl">
                  <td width="80px" class="tittel">
                    <i class="fas fa-image"></i>Nama
                  </td>
                  <td width="90px" class="tittel">
                    <i class="fas fa-file-archive"></i>File type
                  </td>
                  <td width="90px" class="tittel">
                    <i class="fas fa-cloud-upload-alt"></i>File size
                  </td>
                </tr>
                <tr class="bawah" id="info-bawah-file"></tr>
              </table>
            </div>
            <a id="short-download" href="#"
              ><div class="short-download">Download</div></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- ModalBox Suport Section -->
    <div id="modalBoxEasteregg" class="suportactive">
      <div class="container-suport-easteregg">
        <div class="desktop">
          <div class="qrCode">
            <img src="/Img/qr-code.jpg" alt="QR" />
            <h3>scan <span>me!</span></h3>
          </div>
          <div class="suportText">
            <h3>Terima kasih telah mendudung kami !</h3>
          </div>
        </div>
        <div class="mobile">
          <h4>Yuk dukung kami !</h4>
          <p>
            Cukup kunjungi URL dibawah ini atau scan QR Code jika anda suka
            dengan tantangan
          </p>
          <form target="_blank" action="https://saweria.co/BabbelPay">
            <p>https://saweria.co/BabbelPay</p>
            <button type="submit">Submit</button>
          </form>
          <img src="/Img/qr-code.jpg" alt="" />
        </div>
      </div>
      <i class="far fa-times-circle exit"></i>
    </div>
    <div id="modalBox" class="suportpasif">
      <div class="container-modalbox">
        <img src="/Icons/selesain.svg" alt="" />
        <p>Terima Kasih telah mendukung kami!!</p>
        <button class="selesai">Selesai</button>
      </div>
    </div>
    <footer class="infoBottom">
      <div class="infoLink">
        <div class="homeLink">
          <h2>InSketch</h2>
          <p>Download the concept design only from InSketch.</p>
          <div class="iconLink">
            <a class="fab fa-instagram"></a>
            <a class="fab fa-youtube"></a>
            <a class="fab fa-github"></a>
          </div>
        </div>
        <div class="menuLink">
          <div class="menu">
            <h2 class="LMenu">Menu</h2>
            <a href="#Atas">Home</a>
            <a href="/Download#about">About Us</a>
            <a class="suport">Suport</a>
          </div>
          <div class="download">
            <h2 class="LDownload">Download</h2>
            <a href="/Download#vector">Vector</a>
            <a href="/Download#logo">Logo</a>
            <a href="/Download#code">CodeFree</a>
          </div>
          <div class="informasi">
            <h2 class="LInfo">Further Information</h2>
            <a href="/License#Trems">Trems & Condition</a>
            <a href="/License.html">License</a>
          </div>
          <div class="apps">
            <h2 class="LApps">Get App</h2>
            <a href="">App Store</a>
            <a href="">Google Play Store</a>
          </div>
        </div>
      </div>
      <div class="copyright"><span id="cc"></span></div>
      <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </footer>
  </body>
  <!-- Javascript Wajib -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/JavaScript/universal.min.js"></script>
  <!-- JavaScript Custom -->
  <script src="/JavaScript/download/logo.min.js"></script>
</html>
